
.container {
    width: 1280px;
    height: auto;
    margin: auto;
    }

/* Main menu decoration */

.top-menu {
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #16a085;
    text-decoration: none;
    }

.top-menu li {
    list-style: none;
    display: inline;
    padding: 40px 30px;
    }

.top-menu li > a {
    color: inherit;
    text-decoration: inherit;
}

/* Main image settings */

.main-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: -4px;
    }

/* Main content decoration */

.main-content {
    font-family: Lato, sans-serif;
    color: #373737;
    font-size: 16px;
    background-color: #f5f6f7;
    text-align: center;
    padding: 30px 110px;
    }

.main-content h1 {
    font-size: 22px;
    text-transform: uppercase;
    }

p > span {
    font-style: italic;
}

.main-content p {
    padding-top: 15px;
    }

.content-button {
    color: #fff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 3px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    margin-top: 40px;
    margin-bottom: 90px;
    }

/* footer decoration */

.footer {
    font-family: Lato, sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    padding: 45px 100px 45px;
}